form[form-post-downloader] {
    display: none;
}
#modal-export {
    width: 670px;
}

#modal-export .md-content {
    height: 370px;
    padding-bottom: 0;
}
.export-container .export {
    display: inline-block;
    height: 200px;
    color: black;
    position: relative;
    padding: 33px 52px;
    cursor: pointer;
}
.export-container .export:hover {
    color: #75c8ef;
}

.export-container .export-image {
    height: 110px;
    width: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
}

.export-container .export-pdf-image {
    background-image: url('/images/design/export-pdf.png');
}
.export-container .export:hover .export-pdf-image {
    background-image: url('/images/design/export-pdf-active.png');
}
.export-container .export-xml-image {
    background-image: url('/images/design/export-xml.png');
}
.export-container .export:hover .export-xml-image {
    background-image: url('/images/design/export-xml-active.png');
}
.export-container .export-csv-image {
    background-image: url('/images/design/export-csv.png');
}
.export-container .export:hover .export-csv-image {
    background-image: url('/images/design/export-csv-active.png');
}

.export-container .export-text {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 29px;
}


#modal-export-details .corner-text-save {
    position: absolute;
    top: 20px;
    right: 50px;
    color: black;
    cursor: pointer;
}

#modal-export-details .bloc-title {
    margin-bottom: 10px;
}

#modal-export-details .bloc-tab-filter .bloc-title {
    height: 50px;
}

#modal-export-details .bloc-title input {
    margin-top: 10px;
    padding-left: 5px;
}

#modal-export-details .corner.edit {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    padding: 6px;
    cursor: pointer;
}

#modal-export-details .bloc-panel {
    float: left;
    width: 58px;
    height: 306px;
    border-right: 1px solid #c4c4c4;
}
#modal-export-details .filter-select {
    color: black;
    font-size: 22px;
    padding: 13px;
    border-top: 1px solid #C4C4C4;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#modal-export-details .filter-select .filter-number-active {
    font-weight: bold;
}

#modal-export-details .filter-select .del-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
}

#modal-export-details .filter-select:first-child {
    border-top: 0;
}
#modal-export-details .bloc-tab-filter {
    margin-left: 71px;
}
#modal-export-details .widget-back-tab-filters {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
}
#modal-export-details .mCSB_container {
    margin-right: 0px;
}
#modal-export-details .mCustomScrollBox>.mCSB_scrollTools {
    width: 6px;
}

#modal-export-details .bloc-tab-filter {
    overflow: auto;
    max-height: 240px;
}
