
/** table **/
section[dd-widget-table] .widget-front-body table {
    width: 100%;
    color: #333;
    text-align: center;
}

section[dd-widget-table] .widget-front-body table thead {
    width: 100%;
}

section[dd-widget-table] .widget-front-body table th {
    height: 70px;
    line-height: 30px;
    padding: 0 5px;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0px;
}

section[dd-widget-table] .widget-front-body table td {
    border-top: 1px solid #ddd;
    line-height: 40px;
    height: 40px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0px;
}

section[dd-widget-table] .widget-front-body {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 1100px) {
    section[dd-width="1"] .corner {
        display: none!important;
    }
}

/** table **/

/** single number **/
section[dd-widget-single-number] .widget-front-body {
    font-size: 57px;
    text-align: center;
    line-height: 101px;
}
/** single number **/
