
.dd-widget {
    font-family: Lato;
    border-radius: 5px;
}

.dd-widget article.corner {
    color: #000;
    position: absolute;
    right: 0;
    width: 100px;
    height: 95px;
    cursor: pointer;
    z-index: 1;
}
.dd-widget article.corner.edit {
    top: 0;
    background-color: #9ad6f2;
    -webkit-transform: rotate(40deg) translateX(0px) translateY(-80px);
         -moz-transform: rotate(40deg) translateX(0px) translateY(-80px);
        -ms-transform: rotate(40deg) translateX(0px) translateY(-80px);
         -o-transform: rotate(40deg) translateX(0px) translateY(-80px);
            transform: rotate(40deg) translateX(0px) translateY(-80px);
}
.dd-widget article.corner.del {
    bottom: 0;
    background-color: #F14242;
    -webkit-transform: rotate(-40deg) translateX(0px) translateY(80px);
         -moz-transform: rotate(-40deg) translateX(0px) translateY(80px);
        -ms-transform: rotate(-40deg) translateX(0px) translateY(80px);
         -o-transform: rotate(-40deg) translateX(0px) translateY(80px);
            transform: rotate(-40deg) translateX(0px) translateY(80px);
}
.dd-widget article.corner article.corner-text {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: 3px;
    color: white;
}
.dd-widget article.corner.edit article.corner-text {
    bottom: 0px;
}
.dd-widget article.corner.del article.corner-text {
    top: 0px;
}

section.widget-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
}

section.widget-content.rotated {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

section.widget-content .widget-side {
    background: #ffffff;
    height: 100%;
    width: 100%;
}

section.widget-content .widget-side.widget-frontside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

section.widget-content .widget-side.widget-backside {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.52);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    -ms-transform: rotateY(180deg) translateZ(1px);
    -o-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
    position: absolute;
    z-index: 5;
    min-height: 100%;
    height: auto;
}


@media screen and (max-width: 1100px) {
    section[dd-width="1"] .corner {
        display: none!important;
    }
}
