html, body {
    height: 100%;
    margin: 0;
    background-color: #EBEBEB;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.google-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.big-font {
    font-weight: 400;
}

[ng-cloak], .ng-cloak {
    display: none;
}
section#body {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    /*padding-top: 46px;*/
}

.pull-left {
    float: left;
    text-align: left;
}

.pull-right {
    float: right;
    text-align: right;
}

#overlay {
    display: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    /*background-color: rgba(0, 0, 0, 0.6);*/
}

#overlay.activated {
    display: block;
}

/**gestion du flip widget**/
section.widget-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
}

section.widget-content.rotated {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

section.widget-content .widget-side {
    background: #ffffff;
    height: 100%;
    width: 100%;
}

section.widget-content .widget-side.widget-frontside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

section.widget-content .widget-side.widget-backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    -ms-transform: rotateY(180deg) translateZ(1px);
    -o-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
    position: absolute;
    z-index: 5;
}
/**gestion du flip widget**/
section.widget-content .widget-side {
    overflow: hidden;
}

section.widget-content .widget-side .widget-front-body {
    width: 100%;
    height: 100%;
    position: absolute;
}

/** corner **/
.dd-widget article.corner {
    color: #000;
    position: absolute;
    right: 0;
    width: 100px;  
    height: 95px;
    cursor: pointer;
    z-index: 1;
}
.dd-widget article.corner.edit {
    top: 0;
    background-color: #9ad6f2;  
    -webkit-transform: rotate(40deg) translateX(0px) translateY(-80px);
       -moz-transform: rotate(40deg) translateX(0px) translateY(-80px);
        -ms-transform: rotate(40deg) translateX(0px) translateY(-80px);
         -o-transform: rotate(40deg) translateX(0px) translateY(-80px);
            transform: rotate(40deg) translateX(0px) translateY(-80px);
}
.dd-widget article.corner.del {
    bottom: 0;
    background-color: #F14242;  
    -webkit-transform: rotate(-40deg) translateX(0px) translateY(80px);
       -moz-transform: rotate(-40deg) translateX(0px) translateY(80px);
        -ms-transform: rotate(-40deg) translateX(0px) translateY(80px);
         -o-transform: rotate(-40deg) translateX(0px) translateY(80px);
            transform: rotate(-40deg) translateX(0px) translateY(80px);
}
.dd-widget article.corner article.corner-text {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: 3px;
    color: white;
}
.dd-widget article.corner.edit article.corner-text {
    bottom: 0px;
}
.dd-widget article.corner.del article.corner-text {
    top: 0px;
}

/** corner **/

.dd-widget {
    border-radius: 5px;
    overflow: hidden;
}

/** table **/
section[dd-widget-table] .widget-front-body table {
    width: 100%;
    color: #333;
    text-align: center;
}

section[dd-widget-table] .widget-front-body table thead {
    width: 100%;
}

section[dd-widget-table] .widget-front-body table th {
    height: 60px;
    line-height: 30px;
    vertical-align: bottom;
}

section[dd-widget-table] .widget-front-body table td {
    border-top: 1px solid #ddd;
    line-height: 40px;
    height: 40px;
}

section[dd-widget-single-number] .widget-front-body {
    font-size: 60px;
    text-align: center;
}

/** table **/


html,
body,
#container,
#pusher,
#body {
  height: 100%;
}
body {
  background-color: black!important;
}
#body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #eaedf1;
}
#container {
  position: relative;
  overflow: hidden;
}
#container.open #body {
  /*z-index: 8;*/
  cursor: pointer !important;
}
#pusher {
  overflow: hidden;
  position: relative;
  left: 0;
  z-index: 0;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
#pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -moz-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.open #pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#overlay-pusher {
  position: absolute;
  background: #333;
  color: white;
  padding: 30px;
  top: 0;
  right: 0;
  z-index: 5;
  visibility: hidden;
  width: 300px;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#overlay-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.open #overlay-pusher::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -moz-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
#container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
#pusher {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.open #pusher {
  -webkit-transform: rotateY(15deg);
  -moz-transform: rotateY(15deg);
  -ms-transform: rotateY(15deg);
  -o-transform: rotateY(15deg);
  transform: rotateY(15deg);
}
#overlay-pusher {
  z-index: 30;
  opacity: 1;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.open #overlay-pusher {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
#overlay-pusher::after {
  display: none;
}


/**widget menu **/

#widget-menu .container {
  list-style: none;
  padding: 0;
}
#widget-menu .container li {
  overflow: hidden;
  position: relative;
  width: 240px;
  margin: 10px 0;
}
#widget-menu .container li:first-child {
  margin-top: 10px;
}
#widget-menu .container li:last-child {
  margin-bottom: 10px;
}
#widget-menu .container li:hover .widgsize {
  left: 27%;
}
#widget-menu .container span.btn {
    display: block;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 5px 10px;
    color: #ddd;
    width: 240px;
    background: #222;
    text-align: left;
}
#widget-menu .container span.btn img {
  margin-right: 5px;
}
#widget-menu .container .widgsize {
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
  z-index: 100;
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 4px;
  border: 1px solid #000;
  color: #ddd;
  width: 180px;
  background: #000000;
}
#widget-menu .container .widgsize span:first-child {
  text-align: center;
  color: #444;
  display: block;
  text-transform: uppercase;
}
#widget-menu .container .widgsize .btn {
  background: none;
  border: none;
  padding: 2px;
  height: 37px;
  width: 40px;
}
#widget-menu .container .widgsize .btn:hover {
  background: #b23629;
}