<% layout('./layout/overlay-core') %>
<section id="body-content">
	<section id="body-scroller">
		<section id="ribbon" class="row">
			<article class="dashboard-title col-sm-3">
				<span grumpy-ui grumpy-position="bottom" grumpy-align="right">
					{{Dashboard.currentDashboard.title}}
					<grumpy-virgin>
						bijour
					</grumpy-virgin>
				</span>
			</article>
			<article class="col-sm-3 dashboard-ribbon">
				<article class="btn cubby-btn tiny">EXPORT</article>
			</article>
			<article class="strap" ng-click="Overlay.pusherOpen = true"><i class="icon-plus-circle"></i></article>
		</section>

		<section ng-view></section>
	</section>
</section>
<aside id="left-panel" ng-controller="DashboardMenuController">
	<nav class="dashboard-list">
		<article dashboard dashboard-id={{dashboard.id}} class="dashboard-option" ng-click="DashboardMenu.location(_dashboard.dashboard.id);" ng-dblclick="_dashboard.edit();" ng-repeat="dashboard in Dashboard.dashboards" ng-class="{active: _dashboard.isSelected()}">
			<section ng-hide="_dashboard.dashboard.editMode">
				<i class="{{_dashboard.dashboard.icon}}" ></i>
				{{_dashboard.dashboard.title}}
			</section>
			<section class="edit" ng-if="_dashboard.dashboard.editMode">
				<i class="{{_dashboard.dashboard.icon}}" ></i>
                <input type="text" ng-model="_dashboard.dashboard.title" ng-keyup="_dashboard.validEdit($event)" ng-auto-focus>
                <i class="icon-checkmark" ng-click="_dashboard.validEdit();"></i>
                <i class="icon-cross" ng-click="_dashboard.cancelEdit();"></i>
			</section>
		</article>
	</nav>
	<section>
		<article class="btn cubby-btn" ng-click="DashboardMenu.location('add')">ADD</article>
	</section>
</aside>
