<% layout('./layout/overlay-core') %>
<section id="body-content">
	<section id="body-scroller">
		<section id="ribbon" class="row">
			<article class="dashboard-title col-sm-3">{{Dashboard.currentDashboard.title}}</article>
			<article class="col-sm-3 dashboard-ribbon">
				<article class="btn cubby-btn tiny">EXPORT</article>
			</article>
			<article class="strap" ng-click="Overlay.pusherOpen = true"><i class="icon-plus-circle"></i></article>
		</section>

		<section ng-view></section>
	</section>
</section>
<aside id="left-panel">
	<nav class="dashboard-list" ng-controller="DashboardMenuController">
		<article class="dashboard-option" ng-click="DashboardMenu.location(dashboard.id)" ng-repeat="dashboard in Dashboard.dashboards" ng-class="{active: dashboard.id==Dashboard.currentDashboard.id}">
			<i class="{{dashboard.icon}}" ></i>
			{{dashboard.title}}
		</article>
	</nav>
	<section>
		<article class="btn cubby-btn">ADD</article>
	</section>
</aside>
