form[form-post-downloader] {
    display: none;
}
#modal-export {
    width: 670px;
}

#box-export .widget-frontside .close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 19px;
    color: rgb(175, 175, 175);
}
#box-export .widget-frontside .close-icon:hover {
    color: rgb(129, 128, 128);
}

#modal-export .md-content {
    height: 370px;
    padding-bottom: 0;
}
.export-container .export {
    display: inline-block;
    height: 200px;
    color: black;
    position: relative;
    padding: 33px 52px;
    cursor: pointer;
}
.export-container .export:hover {
    color: #75c8ef;
}

.export-container .export-image {
    height: 110px;
    width: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
}

.export-container .export-text {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 29px;
}

#box-export .widget-side.widget-backside {
    max-height: 350px;
}

#box-export .corner-text-save {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #454545;
    color: #DADADA;
    padding: 10px;
    border-radius: 3px;
}
#box-export .corner-text-save:hover {
    color: #75c8ef;
}

#box-export .bloc-title {
    margin-bottom: 10px;
}

#box-export .bloc-tab-filter .bloc-title {
    height: 50px;
}

#box-export .bloc-title input {
    margin-top: 10px;
    padding-left: 5px;
}
#box-export .bloc-title input:focus {
    outline: none;
}

#box-export .corner.edit {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    padding: 6px;
    cursor: pointer;
}

#box-export .bloc-panel {
    float: left;
    width: 63px;
    height: 306px;
}
#box-export .filter-select {
    font-size: 22px;
    padding: 13px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background: #F5F5F5;
    color: #A8A8A8;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 5px;
    border: 1px solid #fff;
}
#box-export .filter-select:hover {
    color: #75c8ef;
}
#box-export .filter-select-active {
    border: 1px solid #CACACA;
}

#box-export .filter-select .del-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 16px;
}

#box-export .bloc-tab-filter {
    margin-left: 74px;
}
#box-export .widget-back-tab-filters {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
}
#box-export .mCSB_container {
    margin-right: 0px;
}
#box-export .mCustomScrollBox>.mCSB_scrollTools {
    width: 6px;
}

#box-export .bloc-tab-filter {
    overflow: auto;
    max-height: 240px;
}
