<section id="widget-menu">
	<h2 class="switch"><span class="widget_menu"><i class="icon-cogs"></i></span> Chose your widget</h2>
	<ul class="container">

		<li>
			<span class="btn">
				<img src="/images/widget-icons/icosinglenumber.png">
				<span>Single Number</span>
			</span>
			<span class="widgsize">
				<span> Widget size </span>
				<button class="btn btn-danger">25%</button>
			</span>
		</li>

		<li>
			<span class="btn">
				<img src="/images/widget-icons/icotable.png">
				<span>Table</span>
			</span>
			<span class="widgsize">
				<span> Widget size </span>
				<button class="btn btn-danger">25%</button>
				<button class="btn btn-danger">50%</button>
				<button class="btn btn-danger">75%</button>
				<button class="btn btn-danger">100%</button>
			</span>
		</li>

		<li>
			<span class="btn">
				<img src="/images/widget-icons/icopie.png">
				<span>Pie Chart</span>
			</span>
			<span class="widgsize">
				<span> Widget size </span>
				<button class="btn btn-danger">25%</button>
				<button class="btn btn-danger">50%</button>
				<button class="btn btn-danger">75%</button>
				<button class="btn btn-danger">100%</button>
			</span>
		</li>

		<li>
			<span class="btn">
				<img src="/images/widget-icons/icochart.png">
				<span>Graph</span>
			</span>
			<span class="widgsize">
				<span> Widget size </span>
				<button class="btn btn-danger">25%</button>
				<button class="btn btn-danger">50%</button>
				<button class="btn btn-danger">75%</button>
				<button class="btn btn-danger">100%</button>
			</span>
		</li>


	</ul>
</section>