article.btn.cubby-btn {
    height: 30px;
    text-align: center;
    max-width: 250px;
    line-height: 30px;
    margin: 5px;
    border-right: 5px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
        -ms-transition: all .15s linear;
         -o-transition: all .15s linear;
            transition: all .15s linear;
}

article.btn.cubby-btn:hover {
    background-color: rgb(124, 181, 236);
    color: white;
}
article.btn.cubby-btn.disabled:hover {
    background-color: white;
    color: #333;
    cursor: default;
}
article.btn.cubby-btn.tiny {
    width: 130px;
}

article.del-btn {
    display: inline-block;
    color: #B6B6B6;
    cursor: pointer;
    padding-left: 5px;
    position: absolute;
    top: 7px;
}

article.cal-btn {
    display: inline-block;
    color: #B6B6B6;
    cursor: pointer;
    padding-left: 5px;
    position: absolute;
    top: 9px;
    right: 17px;
    font-size: 16px;
}
article.cal-btn.cal-btn-between{
    top: 31px;
}
article.del-btn:hover {
    color: #8D8D8D;
}
article.cal-btn:hover {
    color: #DADADA;
}

section[dd-width="1"] .add-filter.btn.cubby-btn {
    margin: auto;
}