aside#left-panel(ng-controller="DashboardMenuController")

	nav.dashboard-list(ng-cloak)
		article.dashboard-option(dashboard, dashboard-id="{{dashboard.id}}", ng-click="DashboardMenu.location(_dashboard.dashboard.id);", ng-dblclick="_dashboard.edit();", ng-repeat="dashboard in Dashboard.dashboards", ng-class="{active: _dashboard.isSelected()}")
			section.menu(ng-hide="_dashboard.dashboard.editMode")
				i(class="{{_dashboard.dashboard.icon}}")
				| {{_dashboard.dashboard.title}}
			i(class="{{_dashboard.dashboard.icon}}", grumpy-ui="grumpy-ui", grumpy-position="bottom", grumpy-align="left", ng-if="_dashboard.dashboard.editMode")
				grumpy-virgin.bounceIn.grumpy-icons
					section.list-icons
						article(ng-repeat="icon in DashboardMenu.icons")
							i(class="{{icon}}", ng-click="_dashboard.dashboard.icon = icon; _grumpyUi.close();")
			section.edit(ng-if="_dashboard.dashboard.editMode")
				input(type="text", ng-model="_dashboard.dashboard.title", ng-keyup="_dashboard.validEdit($event)", ng-auto-focus)
				i.icon-checkmark(ng-click="_dashboard.validEdit();")
				i.icon-cross(ng-click="_dashboard.cancelEdit();")

	section
		article.btn.cubby-btn(ng-click="DashboardMenu.location('add')") ADD

section#body-content
	section#body-scroller
		section#ribbon.row
			article.dashboard-title.col-xs-12.col-sm-8.col-md-5
				span(grumpy-ui="grumpy-ui", grumpy-position="bottom", grumpy-align="left", ng-cloak="ng-cloak")
					span.title-text
						| {{Dashboard.currentDashboard.title}}
						i.icon-cross.hidden-xs(ng-click="Dashboard.delete($event)")
					grumpy-virgin.bounceIn
						section#dashboard-selector(ng-controller="DashboardMenuController", scroll-bar="scroll-bar")
							article.dashboard-option(ng-click="_grumpyUi.close();DashboardMenu.location(dashboard.id);", ng-repeat="dashboard in Dashboard.dashboards", ng-class="{active: dashboard.id==Dashboard.currentDashboard.id}")
								i(class="{{dashboard.icon}}")
								| {{dashboard.title}}
			article.col-sm-3.hidden-xs.dashboard-ribbon
				article.btn.cubby-btn.tiny(ng-click="Dashboard.showExportModal();") EXPORT
			article.strap(ng-click="Overlay.pusherOpen = true")
				i.icon-plus-circle

		section.dashboard-view(ng-view="ng-view")
