<% layout('../../../layout/widget-core') %>

<section class="widget-side widget-frontside" ng-controller="WidgetFrontSideController" ng-class="{loader: WidgetFrontSide.inLoading}">
    <article class="widget-front-head">
        <article class="corner edit" ng-click="_flip.active(); _ddWidgetPie.edit()">
            <article class="corner-text">EDIT</article>
        </article>
    </article>
    <article class="widget-front-body nodrag"></article>
</section>
<section class="widget-side widget-backside" ng-controller="WidgetBackSideController">
    <article class="widget-back-head  nodrag">
        <nav class="nav-pills">
            <article ng-click="WidgetBackSide.tab = 'data'" ng-class="{active: WidgetBackSide.tab == 'data'}" class="pill">
                <i class="icon-earth"></i><span class="pill-name">DATA</span>
            </article>
            <article ng-click="WidgetBackSide.tab = 'filters'" ng-class="{active: WidgetBackSide.tab == 'filters'}" class="pill">
                <i class="icon-filter"></i><span class="pill-name">FILTERS</span>
            </article>
            <article ng-click="WidgetBackSide.tab = 'configuration'" ng-class="{active: WidgetBackSide.tab == 'configuration'}" class="pill">
                <i class="icon-cogs"></i><span class="pill-name">CONFIGURATION</span>
            </article>
        </nav>
        <article class="corner edit" ng-click="WidgetBackSide.save();">
            <article class="corner-text">SAVE</article>
        </article>
    </article>
    <article class="widget-back-body nodrag">
        <section id="widget-back-switch" ng-switch on="WidgetBackSide.tab">
            <article class="widget-back-tab nodrag" ng-switch-when="data">
                <section class="bloc-tab">
                    <article class="bloc-title">Segment</article>
                    <article class="bloc-content">
                        <article class="bloc-content-option">
                            <span grumpy-ui grumpy-position="right" grumpy-align="top" class="no-close">
                                <span>{{_ddWidgetPie.widget.segments[0].kpi.formattedAlias}}</span>
                                <grumpy-virgin class="bounceIn">
                                    <section class="filter-kpi-box" scroll-bar>
                                        <section ng-repeat="(category, kpis) in WidgetBackSide.segments track by $index" ng-init="kpistatus = false">
                                            <article class="kpi-category" ng-click="kpistatus = !kpistatus">{{category}}</article>
                                            <section class="kpi-list" ng-class="{ open: kpistatus}">
                                                <article ng-repeat="kpi in kpis track by $index" class="kpi" ng-click="_ddWidgetPie.widget.segments[0].kpi = kpi; _grumpyUi.close();" ng-class="{ active: kpi.index == _ddWidgetPie.widget.segments[0].kpi }">
                                                    {{kpi.formattedAlias}}
                                                </article>
                                            </section>
                                        </section>
                                    </section>
                                </grumpy-virgin>
                            </span>
                        </article>
                    </article>
                </section>
                <section class="bloc-tab">
                    <article class="bloc-title">Metric</article>
                    <article class="bloc-content">
                        <article class="bloc-content-option">
                            <span grumpy-ui grumpy-position="right" grumpy-align="top" class="no-close">
                                <span>{{_ddWidgetPie.widget.metrics[0].kpi.formattedAlias}}</span>
                                <grumpy-virgin class="bounceIn">
                                    <section class="filter-kpi-box" scroll-bar>
                                        <section ng-repeat="(category, kpis) in WidgetBackSide.metrics track by $index" ng-init="kpistatus = false">
                                            <article class="kpi-category" ng-click="kpistatus = !kpistatus">{{category}}</article>
                                            <section class="kpi-list" ng-class="{ open: kpistatus}">
                                                <article ng-repeat="kpi in kpis track by $index" class="kpi" ng-click="_ddWidgetPie.widget.metrics[0].kpi = kpi; _grumpyUi.close();" ng-class="{ active: kpi.index == _ddWidgetPie.widget.metrics[0].kpi }">
                                                    {{kpi.formattedAlias}}
                                                </article>
                                            </section>
                                        </section>
                                    </section>
                                </grumpy-virgin>
                            </span>
                            <article class="sort-button" ng-click="_ddWidgetPie.widget.sort.order = _ddWidgetPie.widget.sort.order == 'asc' ? 'desc' : 'asc'; _ddWidgetPie.widget.sort.name = _ddWidgetPie.widget.metrics[0].kpi.index" ng-class="{ active: !!_ddWidgetPie.widget.sort.name }"><i class="icon-sort-amount-{{_ddWidgetPie.widget.sort.order || 'asc'}}"></i></article>
                        </article>
                    </article>
                </section>
            </article>

            <article class="widget-back-tab nodrag" ng-switch-when="filters">
                <section class="bloc-tab">
                    <article class="bloc-title">
                        Filters
                        <label class="toggle float-right">
                            <input type="checkbox" name="checkbox-toggle" ng-change="_ddWidgetPie.widget.filters[0].operator = _ddWidgetPie.widget.filters[0].operator == 'AND' ? 'OR' : 'AND';" ng-checked="_ddWidgetPie.widget.filters[0].operator == 'OR'" ng-model="operator">
                            <i data-swchon-text="OR" data-swchoff-text="AND"></i>
                        </label>
                    </article>
                    <article class="bloc-content">
                        <article class="bloc-content-option filter" ng-repeat="(filterIndex, filter) in _ddWidgetPie.widget.filters[0].conditions track by $index">

                            <%- include components/filters.ejs %>

                        <article class="del-btn" ng-click="_ddWidgetPie.widget.filters[0].conditions.splice($index, 1);"><i class="icon-cross"></i></article>
                        </article>
                    </article>
                </section>
                <section class="bloc-tab">
                    <article class="add-filter btn cubby-btn" ng-click="WidgetBackSide.addFilter();">ADD</article>
                </section>
            </article>

            <article class="widget-back-tab nodrag" ng-switch-when="configuration">
                <section class="bloc-tab">
                    <article class="bloc-title">Title</article>
                    <article class="bloc-content"><input type="text" class="config-title" placeholder="title" ng-model="_ddWidgetPie.widget.title"></article>
                </section>
                <section class="bloc-tab">
                    <article class="bloc-title">LIMIT</article>
                    <article class="bloc-content">
                        <section class="bloc-selector">
                            <article class="bloc-option" ng-class="{ active: _ddWidgetPie.widget.limit == 5 }" ng-click="_ddWidgetPie.widget.limit=5">5</article>
                            <article class="bloc-option" ng-class="{ active: _ddWidgetPie.widget.limit == 10 }" ng-click="_ddWidgetPie.widget.limit=10">10</article>
                            <article class="bloc-option" ng-class="{ active: _ddWidgetPie.widget.limit == 20 }" ng-click="_ddWidgetPie.widget.limit=20">20</article>
                            <article class="bloc-option" ng-class="{ active: _ddWidgetPie.widget.limit == 0 }" ng-click="_ddWidgetPie.widget.limit=0">&infin;</article>
                        </section>
                    </article>
                </section>
                <section class="bloc-tab">
                    <article class="bloc-button" ng-click="WidgetBackSide.delete()">DELETE WIDGET</article>
                </section>
            </article>
        </section>
    </article>
</section>